.btn{
    left: 250px;
  }
  form{
    background-color: aliceblue;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 10px;  
}
.certi a:hover span { display: none;
    
}
video{
    padding-left:2px;
    height:300px;
    width:300px;
  }
  audio{
    height: 100px;
    width:300px;
  }